<form action="/login" method = "POST">
	<h2>Login</h2>
	{{#if isReject}}
    	<p>The username or password you entered is incorrect</p>
    {{/if}}	
	<p>Name:</p>
	<div class="input-field">
		<input type="text" required minlength="3"  name="name">
	</div>
	<p>Password:</p>
	<div class="input-field">
		<input type="password" required autocomplete="off" minlength="6" name="password">
	</div>

	<button type="submit" class="btn">LogIn</button>
</form>

<p><a href="/signup">I don't have an account</a></p>