<form action="/signup" method = "POST">
	<h2>SignUp</h2>

	<p>Name:</p>
	<div class="input-field">
		<input type="text" required minlength="3"  name="name">
	</div>
	<p>Password:</p>
	<div class="input-field">
		<input type="password" required autocomplete="off" minlength="6" name="password">
	</div>
	<p>Repeat password:</p>
	<div class="input-field">
		<input type="text" required autocomplete="off" minlength="6" name="passwordR">
	</div>

	<button type="submit" class="btn">SignUp</button>
</form>