<h2>Socket Test</h2>
<div id="output"></div>
<input type="text" id="handle" placeholder="handle">
<input type="text" id="message" placeholder="message">
<button id="send">Send</button>
<script src="/chat.js"></script>